/* Enter your custom styles here */

.bold18 {
    font-size: 16px;
    font-weight: 500;
    margin-left: 60px;
}

.HBoxStyle {
    margin-top: 15rem;
}

.leftVBoxStyle {
    margin-left: 5px;
}

.rightVBoxStyle {
    margin-right: 10rem;
}

.btnCls {
    margin-top: 1.3rem;
    margin-left: 10px;
}

.bold {
    font-weight: bold;
}

.adjustTopMargin{
	margin-top: -100px;
}

.margRightTallowance {
    margin-right: 61px !important;
}